<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>{% block title %} Mini Bank {% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/scss/main.css') }}">
            <link rel="stylesheet" href="{{ asset('bower_components/components-font-awesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% endblock %}

    </head>

    <body>

    <header>

        {% block header %}

            <div class="jumbotron">
                <div class="container text-center">



                        {% block menu %} {% endblock %}



                    <h1>Online Bank</h1>

                    {% if is_granted('ROLE_USER') -%}

                        <div class="row">
                            <div class="col-sm-4 panel-body">
                                <div class="panel panel-primary">
                                    <div class="panel-body">Witaj : {{ user_firstname }} </div>
                                </div>
                            </div>
                            <div class="col-sm-4 panel-body">
                                <div class="panel panel-primary">
                                    <div class="panel-body">Nr Konta : {{ user_finance_account_nr }} </div>
                                </div>
                            </div>
                            <div class="col-sm-4 panel-body">
                                <div class="panel panel-primary">
                                    <div class="panel-body">Stan Konta : {{ account_money }} </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}

                </div>
            </div>

        {% endblock %}

    </header>

    <div class="container body-container">
        {% block body %}
            <div class="row">
                <div id="main" class="col-sm-12">

                    {% block main %}



                    {% endblock %}

                </div>
            </div>
        {% endblock %}
    </div>

    </body>

    <footer>

        {% block footer %}
            <div class="container" style="text-align: center">
                <div class="row">
                    <div id="footer-copyright" class="col-md-6">
                        <p>&copy; {{ 'now'|date('Y') }} - The Damian Stępniak Project</p>
                    </div>
                    <div id="footer-resources" class="col-md-6">
                        <p>
                            Wszelkie prawa zastrzeżone
                        </p>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bower_components/jquery-validation/dist/jquery.validate.min.js') }}"></script>
        {% endblock %}

    </footer>

</html>
